<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openCreateModal()">
        <ion-icon name="add-outline" slot="icon-only" color="info"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-bold">
      Mis Tareas
    </ion-title>
    @if (!(isFeatureEnabled$ | async)) {
      <ion-buttons slot="end">
        <ion-button [routerLink]="'/categories'" routerDirection="forward">
          <ion-icon name="bookmarks-outline" slot="icon-only" color="info"></ion-icon>
        </ion-button>
      </ion-buttons>
    }
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Categories -->
   @if (categories.length) {
     <category-selector [categories]="categories" (category)="selectedCategory.set($event)" />
   }

  <!-- Tasks List -->
  <ion-list class="tasks-list">
    @for (task of tasks | filterBy: selectedCategory() ; track task.id) {
      <!-- Task Item -->
      <task-item
        [task]="task" [categories]="categories"
        (toggleTask)="onToggleTask($event)"
        (deleteTask)="onDeleteTask($event)"
        (editingTask)="openEditModal($event)">
      </task-item>
    }
    @empty {
    <div class="empty-state">
      <p>No hay tareas en esta categoría</p>
    </div>
    }
  </ion-list>

  <!-- Floating Action Button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCreateModal()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Task Modal -->
   @if (showTaskModal()) {
    <task-modal
      [isOpen]="showTaskModal()"
      [task]="editingTask()"
      [categories]="categories"
      (saveTask)="handleTask($event)"
      (closeModal)="showTaskModal.set(false)">
    </task-modal>
   }
</ion-content>
