<!-- Categories -->
<div class="categories-container">
  <!-- Categoría "Todas" -->
  <ion-chip
    [class.selected]="selectedCategory() === 'Todas'"
    (click)="selectedCategory.set('Todas')">
    Todas
  </ion-chip>

  <!-- Categoría Personalizadas -->
  @for (category of categories(); track category.id) {
    <ion-chip
      [style.background-color]="selectedCategory() === category.id ? category.color : '#e0e0e0'"
      [style.color]="selectedCategory() === category.id ? '#fff' : '#000'"
      (click)="selectedCategory.set(category.id)">
      {{ category.name }}
    </ion-chip>
  }
</div>
